body{
    font-family: sans-serif;
    background-color: lightyellow;
}
table{
    background-color: lightblue;
    border-collapse: collapse;
    border: 1px solid gray;
}
td{
    padding: 5px;
}
tr:nth-child(odd){
    background-color: white;
}